* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color .15s, color .15s, fill .15s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #2c3e50;
}


.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.sectionsy {
    float: right;
    width: 100%;
    padding: 24px 0 36px;
}

#section-intro #intro-container {
    float: right;
    width: 86%;
    margin: 12px 7%;
}

#section-intro #intro-container h2 {
    text-align: right;
    margin-bottom: 20px;
}

#section-intro #intro-container p {
    float: right;
    width: 100%;
    font-size: 1.15rem;
    line-height: 2;
    text-align: justify;
}